<header class="flex justify-between items-center py-3 w-[1120px]">
    <div style="text-align: center;">
        <img
        class="rounded-full w-12 h-12"
        src="https://avatars.githubusercontent.com/u/176357742?v=4"
        style="display: block; margin: 0 auto;"
        />
        <!-- <a style="display: block; margin-top: 0.5rem;">Alan Calderon</a>-->
    </div>

    <nav class="flex flex-row gap-x-10">
        <a href="#">About Me</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
        <a href="#">My Curriculum</a>
        <a href="#">My Work Team</a>
        <a href="#" id="changeColor">Change</a>
    </nav>
</header>
